################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/INFOGR2022Template/FileContentIndex/1f13dc43-cb5c-4df1-bdab-9526481966a7.vsidx
